<div id = "intro" style = "scroll-margin-top: 200px;">
    <div class = "row">
        <div class ='col-s-12 col-md-6 text-center'>
            <img class = "w-85 img-fluid" src="images/women.png"  alt = "Welcome to WomenEmpowerED Conference" style="max-width: 320px;">
        </div>
        <div class ='col-s-12 col-md-6'>
            <p style = "float:right">
                This conference is a week long series of events regarding gender equality and inclusivity intended
                for women, non-binary and transgender students. It is a celebration of International Women’s Day,
                which falls on the 8th of March. During the week, we aim to spark conversations about topics that
                are not often spoken about, provide an opportunity to meet likeminded individuals and to have fun!
                This a collaboration between multiple societies at the University of Edinburgh. This year we are excited to announce that most of the events will be in person and a majority of the events are also free of charge! Don’t think twice and sign up now!
            </p>
        </div>
    </div>
 
</div>